@font-face {
  font-family: "montserrat";
  src: url(/font/Montserrat-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-light";
  src: url(/font/Montserrat-Light.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url(/font/Montserrat-ExtraLight.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "montserrat-extrabold";
  src: url(/font/Montserrat-ExtraBold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-medium";
  src: url(/font/Montserrat-Medium.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "comfortaa-regular";
  src: url(/font/Comfortaa-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "comfortaa-semiBold";
  src: url(/font/Comfortaa-SemiBold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-regular";
  src: url(/font/Inter_24pt-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter18-regular";
  src: url(/font/Inter_18pt-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-bold";
  src: url(/font/Inter_24pt-Bold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-bold";
  src: url(/font/Inter_24pt-Bold.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "inter24-semiBold";
  src: url(/font/Inter_24pt-SemiBold.ttf) format("truetype");
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reference color for website
    primary: #FFFFFF  
    secondary: #FFFFE7
    accent: #C7AC27
    buttonHover: #bba01a
    dark: #000000*/

  /* Reference color for dashboard
    dashPrimary: #F5F5F3
    dashSecondary: #ECECEC
    dashAccent: #CCCCCC  */

  :root {
    --primary-color: 255 255 255;
    --secondary-color: 255 255 231;
    --accent-color: 199 172 39;
    --buttonHover-color: 187 160 26;
    --dark-color: 0 0 0;
    --dashPrimary-color: 245 245 243;
    --dashSecondary-color: 236 236 236;
    --dashAccent-color: 204 204 204;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  p {
    @apply text-sm;
  }
  body {
    @apply leading-relaxed font-[montserrat] text-xs min-h-full text-dark;
  }
  pre {
    @apply font-[poppinsRegular];
  }
  nav {
    @apply bg-primary;
  }
  input,
  select {
    @apply border border-solid border-gray-300 p-2 rounded-lg w-full h-[34px] truncate bg-transparent outline-none;
  }
  textarea {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full min-h-28 resize-y bg-transparent outline-none;
  }
  label {
    @apply text-xs text-dark transform -translate-y-6 -translate-x-1 absolute left-3 top-4 px-1 z-10 isolate capitalize;
  }
  label:after {
    @apply content-[''] w-[97%] h-[2.5px] absolute left-px top-[7.2px] bg-white -z-10;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  :disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  input::file-selector-button {
    @apply mr-5 border-0 bg-primary disabled:bg-gray-200 rounded-md text-white cursor-pointer px-1 py-0;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }
}

@layer components {
  .main-wrapper {
    @apply relative min-h-[100dvh] print:pt-0 lg:ml-44  transition-all duration-150 ease-linear bg-dashPrimary overflow-hidden;
  }
  .wrapper {
    @apply relative min-h-[100dvh] max-w-[88rem] print:pt-0 lg:ml-6  transition-all duration-150 ease-linear bg-dashPrimary mt-[23px] 3xl:mx-auto;
  }
  .navigation {
    @apply w-[190px] fixed left-0 top-0 h-full z-50 transition ease-linear duration-150 bg-dashPrimary p-5 pt-[40px];
  }
  .navDashboard {
    @apply font-[inter24-semiBold];
  }
  .navigation-list ul {
    @apply font-[inter24-semiBold] bg-dashPrimary flex flex-col gap-[17px] -mt-10;
  }
  .navigation-list li {
    @apply cursor-pointer;
  }
  .navigation-list li.active .navDashboard span {
    @apply text-black text-[inter24-semiBold] underline underline-offset-4;
  }
  .navigation-list span {
    @apply font-[inter24-semiBold] text-[16px];
  }
  .container {
    @apply py-0 px-3 max-w-[90rem] md:max-w-[90rem] md:px-6 md:py-0 p-6 mx-auto;
  }
  .container_dashboard {
    @apply py-0 px-3 max-w-[90rem] md:max-w-[80rem] md:px-6 md:py-0 p-6 mx-auto;
  }
  .toggle-menu {
    @apply lg:hidden duration-200 cursor-pointer hover:bg-dark/5 left-0.5 h-fit p-3 absolute top-0.5 text-xl z-50 !bg-white;
  }
  .banner {
    @apply relative md:h-[120vh] md:bg-no-repeat md:bg-cover md:bg-center 3xl:max-w-[100rem] 3xl:mx-auto 3xl:h-[900px] 3xl:top-4 x-sm:bg-none;
  }
  .btn-primary {
    @apply bg-accent rounded-md text-white px-5 md:px-14 py-2 md:py-3 font-bold hover:bg-buttonHover font-[montserrat-light] transition-all text-[clamp(.8rem,3vw,18px)];
  }
  .btn-light {
    @apply text-accent font-[montserrat-extrabold] text-[clamp(.8rem,3vw,1.1rem)] transition-all;
  }
  /* .cards {
    @apply w-[450px]
  } */
  .toggle span {
    @apply w-6 h-[.2rem] block bg-dark rounded-full;
  }
  .nav {
    @apply bg-primary absolute text-dark flex flex-col text-[16px] h-[100vh] p-4 text-center justify-center gap-8 font-[montserrat-medium] font-bold left-[100rem] lg:relative lg:left-0 lg:top-0 lg:h-full lg:text-left lg:flex-row transition-all;
  }
  .show.nav {
    @apply left-0 w-full fixed top-[2rem] z-50 lg:relative lg:left-0 lg:top-0 lg:h-full lg:text-left lg:flex-row transition-all duration-300 font-[montserrat-medium];
  }
  .cards_wrapper:last-child {
    @apply justify-center;
  }

  .btn-modal-submit {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-accent rounded-md border-primary border hover:bg-buttonHover hover:text-primary hover:border-gray-300 duration-300 ease-in w-full;
  }
  .btn-modal-submit:disabled {
    @apply opacity-50 hover:bg-buttonHover hover:text-white hover:border-accent;
  }
  .btn-modal-cancel {
    @apply flex items-center justify-center text-dark gap-2 px-3 py-1.5 bg-white rounded-md border-gray-300 border w-full;
  }
  .btn-modal-cancel:disabled {
    @apply opacity-50 hover:bg-white hover:text-dark hover:border-gray-300;
  }
  .modal {
    @apply bg-dark/0 transition-all opacity-0;
  }
  .modal > .animate-slideUp {
    @apply translate-y-3 transition-all;
  }
  .modal.show {
    @apply bg-dark/50 opacity-100;
  }
  .modal.show > .animate-slideUp {
    @apply translate-y-0;
  }
  .modal-wrapper {
    @apply bg-white h-full flex flex-col max-w-[400px] w-full p-5;
  }
  .modal-title {
    @apply flex justify-between items-center text-sm;
  }
  .modal-content {
    @apply overflow-y-auto flex flex-col justify-between h-full;
  }
  .modal-form {
    @apply flex flex-col justify-between h-full;
  }
  .input-wrapper {
    @apply mb-2 my-[20px] relative flex flex-col gap-2;
  }
  .form-btn {
    @apply flex gap-2 pt-4;
  }
  .btnImgUpload button {
    @apply text-2xl text-white bg-dark bg-opacity-50 transition-all opacity-0 group-hover:opacity-40 w-full grid place-items-center h-full absolute top-0 left-0;
  }
  .header-nav li a.active {
    @apply text-black;
  }
}

.shadow_wrapper {
  @media screen and (max-width: 1700px) {
    box-shadow: 0px 0px 9px 3px rgb(207, 208, 212, 0.85);
  }
}

.banner_image {
  @media screen and (min-width: 768px) {
    background-image: var(--bg-image);
  }
}

@layer utilities {
  span.error-show {
    @apply text-[11px] absolute right-1 -bottom-5 text-red-500 italic z-40;
  }
  input.error-show,
  select.error-show,
  textarea.error-show {
    @apply border border-red-500 ;
  }
  label.error-show {
    @apply text-red-500;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar:vertical {
    @apply w-2.5;
  }
  ::-webkit-scrollbar:horizontal {
    @apply h-2.5 bg-gray-100;
  }
  ::-webkit-scrollbar-track-piece {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 border-8 cursor-pointer;
  }
  .tooltip-action-table {
    @apply p-1 mr-1.5 bg-transparent leading-none;
  }
  .tooltip-action-table::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4 bottom-full top-[6px] bg-dark/80 text-white p-1 ml-2 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 left-14;
  }
  .tooltip-action-table:hover::after {
    @apply scale-100 opacity-100;
  }

  /* header tool-tip */
  .tooltip-header {
    @apply p-1 mr-1.5 bg-transparent leading-none;
  }
  .tooltip-header::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4 bottom-full top-[7px] bg-dark/80 text-white p-1 ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 left-16;
  }
  .tooltip-header:hover::after {
    @apply scale-100 opacity-100;
  }

  /* header-nav tool-tip */
  .tooltip-header-nav {
    @apply p-1 mr-1.5 bg-transparent leading-none;
  }
  .tooltip-header-nav::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4 bottom-full top-[9px] bg-dark/80 text-white p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 right-4;
  }
  .tooltip-header-nav:hover::after {
    @apply scale-100 opacity-100;
  }

  /* desktop tool-tip */
  .tooltip-desktop {
    @apply bg-transparent leading-none;
  }
  .tooltip-desktop::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4  bottom-[35px] bg-dark/80 text-white p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 right-[80px];
  }
  .tooltip-desktop:hover::after {
    @apply scale-100 opacity-100;
  }
  /* mobile tool-tip */
  .tooltip-phone {
    @apply bg-transparent leading-none;
  }
  .tooltip-phone::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4  bottom-[35px] bg-dark/80 text-white p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 right-[55px];
  }
  .tooltip-phone:hover::after {
    @apply scale-100 opacity-100;
  }
  /* palette tool-tip */
  .tooltip-colors {
    @apply bg-transparent leading-none;
  }
  .tooltip-colors::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4  bottom-[35px] bg-dark/80 text-white p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 -right-[10px];
  }
  .tooltip-colors:hover::after {
    @apply scale-100 opacity-100;
  }
  /* website tool-tip */
  .tooltip-website {
    @apply bg-transparent leading-none;
  }
  .tooltip-website::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4  bottom-[35px] bg-dark/80 text-white p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 -right-[50px];
  }
  .tooltip-website:hover::after {
    @apply scale-100 opacity-100;
  }
}
