@font-face {
  font-family: "montserrat";
  src: url(/font/Montserrat-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-light";
  src: url(/font/Montserrat-Light.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url(/font/Montserrat-ExtraLight.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "montserrat-extrabold";
  src: url(/font/Montserrat-ExtraBold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-medium";
  src: url(/font/Montserrat-Medium.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "comfortaa-regular";
  src: url(/font/Comfortaa-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "comfortaa-semiBold";
  src: url(/font/Comfortaa-SemiBold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-regular";
  src: url(/font/Inter_24pt-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter18-regular";
  src: url(/font/Inter_18pt-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-bold";
  src: url(/font/Inter_24pt-Bold.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "inter24-bold";
  src: url(/font/Inter_24pt-Bold.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "inter24-semiBold";
  src: url(/font/Inter_24pt-SemiBold.ttf) format("truetype");
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reference color for website
    primary: #FFFFFF  
    secondary: #FFFFE7
    accent: #C7AC27
    buttonHover: #bba01a
    dark: #000000*/

  /* Reference color for dashboard
    dashPrimary: #F5F5F3
    dashSecondary: #ECECEC
    dashAccent: #CCCCCC  */

  :root {
    --primary-color: 255 255 255;
    --secondary-color: 255 255 231;
    --accent-color: 199 172 39;
    --buttonHover-color: 187 160 26;
    --dark-color: 0 0 0;
    --dashPrimary-color: 245 245 243;
    --dashSecondary-color: 236 236 236;
    --dashAccent-color: 204 204 204;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  p {
    @apply text-sm;
  }
  body {
    @apply leading-relaxed font-[montserrat] text-xs min-h-full text-dark;
  }
  pre {
    @apply font-[poppinsRegular];
  }
  nav {
    @apply bg-primary;
  }
}

@layer components {
  .main-wrapper {
    @apply relative min-h-[100dvh] print:pt-0 lg:ml-48  transition-all duration-150 ease-linear bg-dashPrimary overflow-hidden;
  }
  .wrapper {
    @apply relative min-h-[100dvh] max-w-[1290px] print:pt-0 lg:ml-6  transition-all duration-150 ease-linear bg-dashPrimary mt-[23px];
  }
  .navigation {
    @apply w-[211px] fixed left-0 top-0 h-full z-50 transition ease-linear duration-150 bg-dashPrimary p-5 pt-[40px];
  }
  .navDashboard {
    @apply font-[inter24-semiBold];
  }
  .navigation-list ul {
    @apply font-[inter24-semiBold] bg-dashPrimary flex flex-col gap-[17px] -mt-10;
  }
  .navigation-list span {
    @apply font-[inter24-semiBold] text-[16px];
  }
  .container {
    @apply py-0 px-3 max-w-[90rem] md:max-w-[90rem] md:px-6 md:py-0 p-6 mx-auto;
  }
  .toggle-menu {
    @apply lg:hidden duration-200 cursor-pointer hover:bg-dark/5 left-0.5 h-fit p-3 absolute top-0.5 text-xl z-50 !bg-white;
  }
  .banner {
    @apply relative md:h-[120vh] md:bg-no-repeat md:bg-cover md:bg-center 3xl:max-w-[100rem] 3xl:mx-auto 3xl:h-[900px] 3xl:top-4 x-sm:bg-none;
  }
  .btn-primary {
    @apply bg-accent rounded-md text-white px-5 md:px-14 py-2 md:py-3 font-bold hover:bg-buttonHover font-[montserrat-light] transition-all text-[clamp(.8rem,3vw,18px)];
  }
  .btn-light {
    @apply text-accent font-[montserrat-extrabold] text-[clamp(.8rem,3vw,1.1rem)] transition-all;
  }
  /* .cards {
    @apply w-[450px]
  } */
  .toggle span {
    @apply w-6 h-[.2rem] block bg-dark rounded-full;
  }
  .nav {
    @apply bg-primary absolute text-dark flex flex-col text-[16px] h-[100vh] p-4 text-center justify-center gap-8 font-[montserrat-medium] font-bold left-[100rem] lg:relative lg:left-0 lg:top-0 lg:h-full lg:text-left lg:flex-row transition-all;
  }
  .show.nav {
    @apply left-0 w-full fixed top-[2rem] z-50 lg:relative lg:left-0 lg:top-0 lg:h-full lg:text-left lg:flex-row transition-all duration-300 font-[montserrat-medium];
  }
  .cards_wrapper:last-child {
    @apply justify-center;
  }
}

.shadow_wrapper {
  @media screen and (max-width: 1700px) {
box-shadow: 0px 0px 9px 3px rgb(207, 208, 212, 0.85);
  }
}

.banner_image {
  @media screen and (min-width: 768px) {
    background-image: var(--bg-image);
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar:vertical {
    @apply w-2.5;
  }
  ::-webkit-scrollbar:horizontal {
    @apply h-2.5 bg-gray-100;
  }
  ::-webkit-scrollbar-track-piece {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 border-8 cursor-pointer;
  }
}
